<div class="footer">
    <div class="footer-top">
        <!-- <div class="widget_contact">
            <h4>Contact Us</h4>
            <ul class="details">
                <li>
                    <mat-icon>location_on</mat-icon>
                    <div>Silver Sands Spt., Piramal Nagar, S.V. Road, Goregaon (w), Mumbar - 400 064TEsti</div>
                </li>
                <li>
                    <mat-icon>mail</mat-icon>
                    <div>connect&#64;enval.in</div>
                </li>
                <li>
                    <mat-icon>call</mat-icon>
                    <div>+91 98999 48940</div>
                </li>
            </ul>
        </div> -->
        <div class="widget_course">
            <h4>Pages</h4>
            <ul>
                <li>
                    <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
                </li>
                <li>
                    <a routerLink="/training" routerLinkActive="active" ariaCurrentWhenActive="page">Trainings</a>
                </li>
                <li>
                    <a routerLink="/consulting" routerLinkActive="active" ariaCurrentWhenActive="page">Consulting</a>
                </li>
                <li>
                    <a routerLink="/solutions" routerLinkActive="active" ariaCurrentWhenActive="page">Events</a>
                </li>
                <li>
                    <a routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="widget_training">
            <h4>Trainings</h4>
            <ul>
                <li>
                    Leaders
                </li>
                <li>
                    Practitioners
                </li>
                <li>
                    Students
                </li>
                <li>
                    Corporates
                </li>
                <li>
                    Government
                </li>
            </ul>
        </div>
        <div class="widget_blog">
            <h4>Certifications</h4>
            <ul>
                <li>
                    <a routerLink="/eventspage-pva" routerLinkActive="active" ariaCurrentWhenActive="page">Professional Value Analyst(PVA)</a>
                </li>
                <li>
                    <a routerLink="/eventspage-sva" routerLinkActive="active" ariaCurrentWhenActive="page">Senior Value Analyst(SVA)</a>
                </li>
                <li>
                    <a routerLink="/eventspage-svp" routerLinkActive="active" ariaCurrentWhenActive="page">Student Value Practitioner(SVP)</a>
                </li>
                <li>
                    <a routerLink="/training-vma" routerLinkActive="active" ariaCurrentWhenActive="page">Value Methodology Associate (VMA)</a>
                </li>
                <li>
                    <a routerLink="/training-cvs" routerLinkActive="active" ariaCurrentWhenActive="page">Certified Value Specialist (CVS)</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer_logo">
            <img src="../../assets/img/footer/logo.jpg" alt="">
        </div>
        <div class="footer_copyrights">
            <p>Copyright &copy; 2025 by enval.in</p>
            <div class="policies">
                <a class="policy-link" routerLink="/termsconditions" routerLinkActive="active" ariaCurrentWhenActive="page">Terms of use </a>
                <div>|</div>
                <a class="policy-link" routerLink="/privacypolicy" routerLinkActive="active" ariaCurrentWhenActive="page">Privacy policy </a>
                <div>|</div>
                <a class="policy-link" routerLink="/cancellationrefundpolicy" routerLinkActive="active" ariaCurrentWhenActive="page">Refund policy</a>
            </div>
        </div>
        <div class="social_media">
            <ul>
                <li>
                    <a class="facebook" href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a class="whatsapp" href="">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a class="linkedin" href="">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer_developed">
            <p>Designed and Developed by CIAI</p>
        </div>
    </div>
</div>