<app-navbar></app-navbar>
<div class="About-us">
    <div class="about-pic">
        <h1>Corporate Trainings</h1>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" 
                class="read-more-btn">Home</a>
            </li>
            <li>Corporate Trainings</li>
        </ul>
    </div>
</div>
<div class="training-types">
    <div class="left">
        <img src="../../assets/img/corporate-trainings/img1.png" alt="">
    </div>
    <div class="right">
        <div class="enval">
            ENVAL
        </div>
        <div class="heading">
            Training Programs
        </div>
        <div class="paragraph">
            ENVAL Conducts both modular and customised training programs for corporates, government, and CSR.
        </div>
        <div class="types">
            <div class="type">
                <i class="fa fa-check fa-icon"></i>
                <div class="type-info">
                <div class="type-head">Modular Training Programs</div>
                <div class="type-desc">Intensive workshop with projects, expert sessions, and certification.</div>
                </div>
            </div>
            <div class="type">
                <i class="fa fa-check fa-icon"></i>
                <div class="type-info">
                <div class="type-head">Customised Training Programs</div>
                <div class="type-desc">Tailored content program with live projects and certification option.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modular-training">
    <div class="section">
    <div class="modular-heading">
        Modular Training Programs
    </div>
    <div class="more-info">
        More information on the certification courses on link
    </div>
    </div>
    <div class="points">
        <div class="point">
            <span class="material-symbols-outlined">
                handyman
            </span>
            <div class="point-name">
                Workshops
            </div>
            <div class="point-desc">
                Interactive sessions conducted in a workshop mode
            </div>
        </div>
        <div class="point">
            <span class="material-symbols-outlined">
                school
            </span>
            <div class="point-name">
                Practice
            </div>
            <div class="point-desc">
                Engaging practice sessions
            </div>
        </div>
        <div class="point">
            <span class="material-symbols-outlined">
                group
            </span>
            <div class="point-name">
                Group Projects
            </div>
            <div class="point-desc">
                Intensive group work on projects / case studies
            </div>
        </div>
        <div class="point">
            <span class="material-symbols-outlined">
                verified
            </span>
            <div class="point-name">
                Expert Sessions
            </div>
            <div class="point-desc">
                On-demand session of industry experts with specialisation in niche areas
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="certificate">
            <i class="fa-solid fa-right-long fa-icon"></i>
            <div>
            Option is available for certification by Indian Value Engineering Society (INVEST) 
            or SAVE International. In this case the participants have to appear for the examination and pass with 70% 
            marks.
            </div>
        </div>
        <div class="certificate">
            <i class="fa-solid fa-right-long fa-icon"></i>
            Orientation for examination is included in the training program. 
        </div>
    </div>
</div>
<div class="customized-training">
    <div class="custom-left">
        <div class="custom-head">Customized Training Program</div>
        <div class="items">
            <div class="item">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        bookmarks
                    </span>
                </div>
                <div class="info">
                    The training content is customised and co-created for meeting specific functional and domain 
                    requirements of the client. 
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        update
                    </span>
                </div>
                <div class="info">
                    The project work is undertaken on a live project. 
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                </div>
                <div class="info">
                    All other specifications are the same as Modular Training Programs. 
                </div>
            </div>
        </div>
    </div>
    <div class="custom-right">
        <div class="overlay"></div>
        <img src="../../assets/img/consulting/video-3.jpg" alt="">
    </div>
</div>
<div class="support">
    <div class="support-head">Technical support for projects</div>
    <div class="support-para">
        Post training, the ENVAL VE and Industry Expert can further engage for providing 
        technical support to the clients for executing the projects. 
    </div>
</div>
<app-footer></app-footer>
<app-scroll-button></app-scroll-button>