<app-navbar></app-navbar>
<div class="course-top-view">
<div class="course-heading">
    <h1>Training for Senior Value Analyst(SVA)</h1>
    <div class="banner-details">
        <ul>
            <li>
                <i class="fa-solid fa-circle-check check"></i>
                Gain career success with our comprehensive Machine Learning course
            </li>
            <li>
                <i class="fa-solid fa-circle-check check"></i>
                Learn from 40+ hrs of Applied Learning and interactive labs
            </li>
            <li>
                <i class="fa-solid fa-circle-check check"></i>
                Complete 4 hands-on projects to solidify your understanding
            </li>
            <li>
                <i class="fa-solid fa-circle-check check"></i>
                Receive mentoring support throughout your learning journey
            </li>
            <li>
                <i class="fa-solid fa-circle-check check"></i>
                Master essential ML concepts for certification
            </li>
            <li>
                <i class="fa-solid fa-circle-check check"></i>
                Gain the skills needed to become a successful machine learning engineer
            </li>
        </ul>
    </div>
    <div class="banner-buttons">
        <div class="options"><a (click)="scrollToTraining()">View training options</a></div>
        <div class="advisor">
            <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
                Talk to our advisor
            </a>
        </div>
    </div>
</div>
<div class="course-right">
    <img src="../../assets/img/eventspage/Certificate_desktop_banner.jpg" alt="" class="banner-img">
    <img src="../../assets/img/eventspage/Certificate_banner_dots.svgz" alt="" class="banner-dots">
</div>
</div>
<div class="course-overview">
    <h2 class="overview-heading">Senior Value Analyst (SVA) Course <b>Overview</b></h2>
    <p class="overview-desc">
        The course is designed for industry professionals and academic faculty for gaining competency 
        as VM trainers. The batches are conducted both for organisations and individual participants from 
        multiple organisations.
    </p>
    <div class="benefits">
        <h4>Benefits</h4>
        <div class="benefits-items">
            <ul>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    Eligible as a trainer to conduct VM training for Student Value Practitioner (SVP) 
                    Course after getting Instructor License from INVEST
                </li>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    SVA-qualified professional can lead Value studies
                </li>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    SVA can also conduct awareness sessions and workshops within and outside the institution 
                    or organization
                </li>
            </ul>
        </div>
    </div>
    <div class="eligibility">
        <h4>Eligibility</h4>
        <ul>
            <li>Industry professionals must have 4 years of experience in practicing VM</li>
            <li>College / University faculty have no specific pre-qualification criteria</li>
        </ul>
    </div>
    <div class="duration">
        <h4>This course include:</h4>
        <div class="sections">
            <div class="sections-column">
                <ul>
                    <li>
                        <i class="fa-brands fa-youtube time"></i>
                        24 hours of training by INVEST Licensed Instructor
                    </li>
                    <li>
                        <i class="fa-solid fa-code time"></i>
                        1 Large/2 Small VM projects/study
                    </li>
                </ul>
            </div>
            <div class="sections-column">
                <ul>
                    <li>
                        <i class="fa-solid fa-mobile-screen-button time"></i>
                        Access on mobile and TV
                    </li>
                    <li>
                        <i class="fa-solid fa-trophy time"></i>
                        Certification of completion
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-coverage">
        <h4>Content and Coverage</h4>
        <div class="container">
            <div class="container-column">
                <ul>
                    <li>
                        <i class="fa-regular fa-circle-check coveragetick"></i>
                        <div class="value">Fundamentals of VM</div>
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check coveragetick"></i>
                        <div class="value">Application of VM across industry, government, academia and 
                            social sector</div>  
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check coveragetick"></i>
                        <div class="value">Need, methods and process for contextualising content for specific 
                        disciplines for SVP trainings </div>
                    </li>
                </ul>
            </div>
            <div class="container-column">
                <ul>
                    <li>
                        <i class="fa-regular fa-circle-check coveragetick"></i>
                        <div class="value">Orientation on facilitation skills</div>
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check coveragetick"></i>
                        <div class="value">Preparation for SVA examination, certification and renewal</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="methodology">
        <h4>Training Methodology</h4>
        <div class="list-items">
            <ul>
                <li>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                    Interactive lectures – online and offline depending on modality opted 
                </li>
                <li>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                    Case Studies 
                </li>
                <li>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                    Individual practice cases 
                </li>
                <li>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                    Group exercises 
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="certificates">
    <div class="certificate-container">
        <h2>Examination and Certification</h2>
        <div class="certificate-content">
            <ul>
                <li>Training is conducted by ENVAL, while exam is scheduled and conducted by INVEST.</li>
                <li>Exam comprises of 2 objective papers of 100 marks each, 70% passing marks in each paper.</li>
                <li>Certificate awarded successful candidates is valid for 4 years and has to be renewed thereafter.                 </li>
            </ul>
            <div class="image-container">
                <img src="../../assets/img/eventspage/Simplilearn_Certificate_ML.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="training-panel">
<div class="training-options" id="training" #training>
    <h4 class="head">Training Options</h4>
    <div class="option">
    <div class="bootcamp">
        <h4 class="bootcamp-head">ONLINE BOOTCAMP</h4>
        <div class="bootcamp-benefits">
            <ul>
                <li>
                    <i class="fa-solid fa-check benefits-tick"></i>
                    <b>Flexi Pass Enabled:</b> Flexibility to reschedule your cohort within 
                    first 90 days of access.
                </li>
                <li>
                    <i class="fa-solid fa-check benefits-tick"></i>
                    90 days of flexible access to online classes
                </li>
                <li>
                    <i class="fa-solid fa-check benefits-tick"></i>
                    Live, online classroom training by top instructors and practitioners
                </li>
            </ul>
        </div>
        <h5>Batch starts from:</h5>
        <div class="batch-dates">
            <div class="date1">9<sup>th</sup> Nov, Weekend Class</div>
            <div class="vertical-line"></div>
            <div class="date2">11<sup>th</sup> Nov, Weekday Class</div>
        </div>
        <a href="" class="schedules">View all schedules</a>
    </div>
    <div class="bootcamp-footer">
        <div class="price">
            <div class="offer">
                <img src="../../assets/img/eventspage/badge-percent.svg" alt="" style="width: 15px; height: 15px;">
                33% Off
            </div>
            <div class="total-price">
                $499<del>$749</del>
            </div>
        </div>
        <div class="Enroll-btn">
            <a href="" class="a-btn">Enroll Now</a>
        </div>
    </div>
    </div>
</div>
</div>
<app-footer></app-footer>