<app-navbar></app-navbar>
<!--About Us-->
<div class="About-us">
    <div class="about-pic">
        <h1>About Us</h1>
        <ul>
            <li>
                <a routerLink="/HomeComponent" routerLinkActive="active" ariaCurrentWhenActive="page" 
                class="read-more-btn">Home</a>
            </li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<!--Explore More-->
<div class="more-info">
    <div class="pic-container">
        <img src="../../assets/img/about_us_pic2.jpg" alt="">
    </div>
    <div class="content">
        <h2 class="Titillium">Enval</h2>
        <p class="Titillium">ENVAL Consultants Pvt Ltd stands at the forefront of Value Management solutions, 
            specializing in comprehensive offerings that encompass training, consulting, 
            project management, and cutting-edge software solutions.</p>
        <a class="Titillium" href="#">Explore More</a>
    </div>
</div> 
<app-footer></app-footer>