<app-navbar></app-navbar>
<!--About Us-->
<div class="About-us">
    <div class="about-pic">
        <h1>About Us</h1>
        <ul>
            <li>
                <a routerLink="/HomeComponent" routerLinkActive="active" ariaCurrentWhenActive="page" 
                class="read-more-btn">Home</a>
            </li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<!--Explore More-->
<div class="more-info">
    <div class="pic-container">
        <img src="../../assets/img/about_us_pic2.jpg" alt="">
    </div>
    <div class="content">
        <h2 class="Titillium">Enval</h2>
        <p class="Titillium">ENVAL Consultants Pvt Ltd stands at the forefront of Value Management solutions, 
            specializing in comprehensive offerings that encompass training, consulting, 
            project management, and cutting-edge software solutions.</p>
        <a class="Titillium" href="#">Explore More</a>
    </div>
</div> 
<!--Mission and Vision-->
<div class="aim-container">
    <div class="aim-content">
        <ul>
            <li>
                <p class="aim-head titillium">ENVAL</p>
                <h2 class="aim-subhead titillium">Mission</h2>
                <p class="aim-desc titillium">Empower organizations, professionals and 
                    academicians through digitally-enabled Value Management solutions for fostering 
                    culture of excellence, driving innovation, accelerate growth and achieve sustainability</p>
            </li>
            <li>
                <p class="aim-head titillium">ENVAL</p>
                <h2 class="aim-subhead titillium">Vision</h2>
                <p class="aim-desc titillium">catalyse transformative change for government, corporates and academia 
                    through technology-driven Value Management to thrive in ever evolving competitive landscape.</p>
            </li>
        </ul>
    </div>
    <div class="aim-picture">
        <img src="../../assets/img/about_us_pic3.jpg" alt="">
    </div>
</div>
<!--Values-->
<div class="values-container">
    <div class="values-heading">
        <p class="titillium">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis</p>
    </div>
    <div class="value-content">
        <div class="value">
            <div class="value-logo">
                <i class="fa-solid fa-people-group fa-3x people"></i>
            </div>
            <h4 class="titillium">People first</h4>
            <p>Combine visually rich icons with text, draw your site visitors</p>
        </div>
        <div class="value">
            <div class="value-logo">
                <i class="fa-solid fa-shield-heart fa-3x vm"></i>
            </div>
            <h4 class="titillium">VM in the DNA</h4>
            <p class="titillium">Combine visually rich icons with text, draw your site visitors</p>
        </div>
        <div class="value">
            <div class="value-logo">
                <i class="fa-solid fa-recycle fa-3x sustain"></i>
            </div>
            <h4 class="titillium">Sustainability at the core</h4>
            <p class="titillium">Combine visually rich icons with text, draw your site visitors</p>
        </div>
        <div class="value">
            <div class="value-logo">
                <i class="fa-regular fa-lightbulb fa-3x dream"></i>
            </div>
            <h4 class="titillium">Driven by a shared dream</h4>
            <p class="titillium">Combine visually rich icons with text, draw your site visitors</p>
        </div>
    </div>
</div>
<!--Team-->
<div class="team-container">
    <div class="team-headings">
        <h6 class="team-header">Meet Our Team</h6>
        <h2 class="team-subheader">Our Creative Team</h2>
    </div>
    <div class="team-content">
        <div class="person">
            <div class="thumb">
                <img src="../../assets/img/team1.png" alt="">
                <div class="social-wrap">
                    <i class="fa fa-share-alt share"></i>
                </div>
            </div>
            <div class="details">
                <h4>Doris Jordon</h4>
                <span>Design Expert</span>
            </div>
        </div>
        <div class="person">
            <div class="thumb">
                <img src="../../assets/img/team2.png" alt="">
                <div class="social-wrap">
                    <i class="fa fa-share-alt"></i>
                </div>
            </div>
            <div class="details">
                <h4>Eugen Freman</h4>
                <span>Executive</span>
            </div>
        </div>
        <div class="person">
            <div class="thumb">
                <img src="../../assets/img/team3.png" alt="">
                <div class="social-wrap">
                    <i class="fa fa-share-alt"></i>
                </div>
            </div>
            <div class="details">
                <h4>Jaction Leo</h4>
                <span>Developer</span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>