<!--Navbar Start-->
<mat-toolbar class="nav-area">
    <div class="logo">
        <a href="index.html">
           <img src="assets/img/logo_trans.png" alt="img" > 
        </a>    
    </div>
    <div class="nav-pages">
        <ul class="nav-list">
            <li>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">ABOUT</a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">TRAINING</a>
            </li>
            <li>
                <a routerLink="/consulting" routerLinkActive="active" ariaCurrentWhenActive="page">CONSULTING</a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">CONTACT US</a>
            </li>
        </ul>
    </div>
    <div class="nav-right-part">
        <mat-icon class="cart-icon">shopping_cart</mat-icon>
        <a href="#" class="signup-btn">Sign Up</a>
    </div>
  </mat-toolbar>
<!--Navbar End-->