<!--Navbar Start-->
<mat-toolbar class="nav-area">
    <div class="logo">
        <a href="index.html">
           <img src="assets/img/logo_trans.png" alt="img" style="width: 375px; height: auto;"> 
        </a>    
    </div>
    <div class="nav-pages">
        <ul class="nav-list">
            <li>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">ABOUT</a>
            </li>
            <li class="dropdown"> 
                <a routerLink="/training" routerLinkActive="active" ariaCurrentWhenActive="page" class="droplist">TRAININGS</a> 
                <ul class="dropdown-content">
                    <li>
                        <a class="service-item" routerLink="/eventspage-svp" routerLinkActive="active" ariaCurrentWhenActive="page">SVP</a>
                    </li>
                    <li>
                        <a class="service-item" routerLink="/eventspage-sva" routerLinkActive="active" ariaCurrentWhenActive="page">SVA</a>
                    </li>
                    <li>
                        <a class="service-item" routerLink="/eventspage-pva" routerLinkActive="active" ariaCurrentWhenActive="page">PVA</a>
                    </li>
                </ul> 
            </li>
            <li>
                <a class="service-item" routerLink="/consulting" routerLinkActive="active" ariaCurrentWhenActive="page">CONSULTING</a>
            </li>
            <li>
                <a class="service-item" routerLink="/solutions" routerLinkActive="active" ariaCurrentWhenActive="page">IT SOLUTIONS</a>
            </li>
            <!-- <li>
                <a class="service-item" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">IT PROJECTS</a>
            </li> -->
            <li>
                <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">CONTACT US</a>
            </li>
        </ul>
    </div>
    <div class="nav-right-part" *ngIf = (!isLoggedIn)>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="login-btn">Login</a>
        <a routerLink="/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page" class="signup-btn">Sign Up</a>
    </div>
    <div *ngIf = (isLoggedIn) class="user-info">
        <p class="userName">{{userInitials}}</p>
        <ul class="dropdown-user-info">
            <li>
                <a class="service-item" routerLink="/enrolled-courses" routerLinkActive="active" ariaCurrentWhenActive="page">My Courses</a>
            </li>
            <li>
                <a class="service-item" (click)="logout()">Logout</a>
            </li>
        </ul> 
    </div>
  </mat-toolbar>
<!--Navbar End-->