<nav>
    <input type="checkbox" id="sidebar-active">
    <label for="sidebar-active" class="open-sidebar-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
    </label>

    <div class="links-container">
        <label for="sidebar-active" class="close-sidebar-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
        </label>

        <!--<a href=""><img src="../../assets/img/logo.jpg" alt="enval_logo"></a>-->
        <a href="#" class="home-link">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">TRAININGS</a>
        <a href="#">CONSULTING</a>
        <a href="#">CONTACT US</a>
    </div>
</nav>