/* Toolbar styling */
.nav-area {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between logo and nav */
    align-items: center; /* Center items vertically */
    padding: 0 20px; /* Add padding to the left and right */
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo{
    margin-right: 30px;
}
.nav-area .logo a img{
    height: auto;
    width: 100%;  
    max-width: 100px;
    padding: 15px 0 0 15px;  

@media (min-width: 640px) {
        max-width: 20%;  
}
@media (min-width: 1440px) {
        max-width: 35%;  
}
}
/* Logo styling */
.logo a {
    text-decoration: none; /* Remove underline from link */
    font-size: 24px; /* Increase font size for logo */
    color: #000; /* Set logo color */
}

/* Navigation pages styling */
.nav-pages {
    flex-grow: 1; /* Use flexbox for nav items */
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    list-style-type: none; /* Remove bullet points */
    display: flex; /* Align items horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.nav-list li {
    margin: 0 15px; /* Add space between nav items */
}

.nav-list a {
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Set link color */
    font-size: 16px; /* Font size for nav links */
    transition: color 0.3s; /* Transition effect for hover */
    font-weight: 100;
}

/* Hover effect for nav links */
.nav-list a:hover {
    color: #F5CA45; /* Change color on hover */
}
/* Container styling for the right part of the nav */
.nav-right-part {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

/* Cart icon styling */
.cart-icon {
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 15px; /* Space between the icon and the button */
    color: #000; /* Icon color */
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

/* Button styling */
.signup-btn {
    text-decoration: none; /* Remove underline */
    padding: 10px 20px; /* Padding for buttons */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    background-color: #F5CA45; /* Yellow background */
    color: #000; /* Text color */
    font-weight: 100;
}
