/* Toolbar styling */
.nav-area {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between logo and nav */
    align-items: center; /* Center items vertically */
    padding: 0 20px; /* Add padding to the left and right */
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo{
    margin-right: 30px;
}
.nav-area .logo a img{
    height: auto;
    max-width: 100%;    
}
/* Logo styling */
.logo a {
    text-decoration: none; /* Remove underline from link */
    font-size: 24px; /* Increase font size for logo */
    color: #000; /* Set logo color */
}

/* Navigation pages styling */
.nav-pages {
    flex-grow: 1; /* Use flexbox for nav items */
}

.nav-list {
    list-style-type: none; /* Remove bullet points */
    display: flex; /* Align items horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.nav-list li {
    margin: 0 15px; /* Add space between nav items */
}

.nav-list a {
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Set link color */
    font-size: 16px; /* Font size for nav links */
    transition: color 0.3s; /* Transition effect for hover */
}

/* Hover effect for nav links */
.nav-list a:hover {
    color: #F5CA45; /* Change color on hover */
}

/* Button styling */
.signin-btn,
.signup-btn {
    text-decoration: none; /* Remove underline */
    padding: 10px 20px; /* Padding for buttons */
    border-radius: 5px; /* Rounded corners */
    margin-left: 10px; /* Space between buttons */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s, color 0.3s; /* Transition for hover */
}

/* Sign In button styles */
.signin-btn {
    background-color: white; /* White background */
    color: #000; /* Text color */
    border: 1px solid #000; /* Border */
}

/* Sign Up button styles */
.signup-btn {
    background-color: #F5CA45; /* Yellow background */
    color: #000; /* Text color */
    transition: all 0.5s ease;
}

/* Hover effects for buttons */
.signin-btn:hover {
    background-color: #f0f0f0; /* Light gray on hover */
}
