<app-navbar></app-navbar>
<!--Contact Area Pic-->
<div class="contact-bg">
    <h1>Contact</h1>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" 
                class="read-more-btn">Home</a>
            </li>
            <li>Contact</li>
        </ul>
</div>
<!--Contact List-->
<div class="contact-list">
    <div class="container">
        <div class="contact-list-inner">
            <div class="media">
                <div class="media-left">
                    <img src="../../assets/img/17.png" alt="img">
                </div>
                <div class="media-body">
                    <h5>Our Phone</h5>
                    <p>000 2324 39493</p>
                </div>
            </div>
        </div>
        <div class="contact-list-inner">
            <div class="media">
                <div class="media-left-email">
                    <img src="../../assets/img/18.png" alt="img">
                </div>
                <div class="media-body">
                    <h5>Our Email</h5>
                    <p>name&#64;gamil.com</p>
                </div>
            </div>
        </div>
        <div class="contact-list-inner">
            <div class="media">
                <div class="media-left">
                    <img src="../../assets/img/16.png" alt="img">
                </div>
                <div class="media-body">
                    <h5>Our Address</h5>
                    <p>2 St, Loskia, amukara.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Contact Form-->
<div class="contact-form">
    <div class="contact-left">
        <h6>Get in touch</h6>
        <h2>Write Us a Message</h2>
        <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. 
            Junk MTV quiz graced by fox whelps. Bawds jog,
        </p>
        <div class="social_media">
        <ul style="padding-left: 0px;">
            <li>
                <a class="facebook" href="">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a class="whatsapp" href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a class="instagram" href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a class="linkedin" href="">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        </div>
    </div>
    <div class="contact-right">
        <form class="contact-inputs">
            <div class="name-inputs">
                <div class="first-name">
                    <input type="text" placeholder="First Name">
                </div>
                <div class="last-name">
                    <input type="text" placeholder="Last Name">
                </div>
            </div>
            <div class="email-inputs">
                <div class="email">
                    <input type="text" placeholder="Email">
                </div>
                <div class="subject">
                    <input type="text" placeholder="Subject">
                </div>
            </div>
            <div class="message">
                <textarea type="text" placeholder="Message"></textarea>
            </div>
            <div class="submit-btn">
                <a class="btn" href="#">Send Message</a>
            </div>
        </form>
    </div>
</div>
<!--Maps-->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d257534.94049820185!2d78.
    23865362973719!3d17.41560576910003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99da
    eaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana%2C%20India!5e0!3m2!1sen!2sus!4v173031128075
    4!5m2!1sen!2sus" width="1440" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!--Subscrive Footer-->
<div class="footer">
    <form class="footer-form">
        <div class="name-tag">
            <input type="text" placeholder="Your Full Name">
        </div>
        <div class="email-tag">
            <input type="text" placeholder="Your Email Address">
        </div>
        <div class="subscribe-tag">
            <a class="s-btn" href="#">Subscribe</a>
        </div>
    </form>
</div>
<app-footer></app-footer>
