<app-navbar></app-navbar>
<div class="top-container">
    <h1>Training for Value Methodology Associate (VMA)</h1>
    <img src="../../assets/img/training/Certificate_banner_dots.svgz" alt="" class="banner-dots">
    <div class="course-points">
        <img src="../../assets/img/training/course-preview.jpg" alt="">
        <div class="course-includes">
            <h4>Course Includes:</h4>
            <ul>
                <li>
                    <div class="content-name">
                        <i class="fa-regular fa-clock icon"></i>
                        Course Duration:
                    </div>
                    <div class="content-value">
                        32 hrs
                    </div>
                </li>
                <li>
                    <div class="content-name">
                        <i class="fa-solid fa-laptop icon"></i>
                        Pass Percentage:
                    </div>
                    <div class="content-value">
                        70%
                    </div>
                </li>
                <li>
                    <div class="content-name">
                        <i class="fa-solid fa-book-open icon"></i>
                        Exam Duration:
                    </div>
                    <div class="content-value">
                        90 min
                    </div>
                </li>
                <li>
                    <div class="content-name">
                        <i class="fa-solid fa-globe icon"></i>
                        Language
                    </div>
                    <div class="content-value">
                        English
                    </div>
                </li>
                <li>
                    <div class="content-name">
                        <i class="fa-solid fa-award icon"></i>
                        Certificate
                    </div>
                    <div class="content-value">
                        Yes
                    </div>
                </li>
            </ul>
        </div>
        <div class="options">
            <a (click)="scrollToTraining()">View training options</a>
        </div>
    </div>
</div>
<div class="content-info">
    <h2 class="heading">Course Overview</h2>
    <p class="description">Value Methodology Associate (VMA) is a common certification for students, trainers, 
        academicians and practitioners with eligibility of participating in VM projects. </p>
    <div class="benefits-eligibility">
        <div class="benefits">
            <div class="benefits-heading">
                <h4>Benefits</h4>
            </div>
            <ul>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    <div class="info">The Certification is valid at international level</div>
                </li>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    <div class="info">Candidates can participate in any VM project as team members </div>    
                </li>
            </ul>
        </div>
        <div class="eligibility">
            <div class="eligibility-heading">
                <h4>Eligibility</h4>
            </div>
            <ul>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    <div class="info">Any student, academician and professional</div>    
                </li>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    <div class="info">There is no restriction on specialisation and profession</div>    
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <h4 class="content-heading">Content</h4>
        <ul>
            <li>
                <i class="fa-regular fa-circle-check"></i>
                Value Methodology Training (VMT) Module
            </li>
            <li>
                <i class="fa-regular fa-circle-check"></i>
                Fundamentals of VM
            </li>
            <li>
                <i class="fa-regular fa-circle-check"></i>
                Applications of VM
            </li>
        </ul>
    </div>
    <div class="methodology">
        <h4>Training Methodology</h4>
        <div class="list-items">
            <ul>
                <li>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                    Interactive lectures - online and offline
                </li>
                <li>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                    Individual assignments 
                </li>
                <li>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                    Case studies and group work
                </li>
                <li>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                    Short projects at institutional / college level 
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="certificates">
    <div class="certificate-container">
        <h2>Examination and Certification</h2>
        <div class="certificate-content">
            <ul>
                <li>The training is conducted by ENVAL, while Certification is awarded by SAVE International.</li>
                <li>The participant is awarded Certification for successful completion of VMF1 Training, which is a 
                    must for taking the VMA exam.</li>
                <li>Exam comprises 60 multiple choice questions, to be completed in 90 minutes, with 70% passing marks. </li>
                <li>Certification must be renewed every 2 years. </li>
            </ul>
            <!-- <div class="image-container">
                <img src="../../assets/img/training/Simplilearn_Certificate_ML.jpg" alt="">
            </div> -->
        </div>
    </div>
</div>
<div class="training-panel">
<div class="training-options" id="training" #training>
    <h4 class="head">Training Options</h4>
    <div class="option">
    <div class="bootcamp">
        <h4 class="bootcamp-head">ONLINE TRAINING</h4>
        <div class="bootcamp-benefits">
            <ul>
                <li>
                    <i class="fa-solid fa-check benefits-tick"></i>
                    Live, online classroom training by top instructors and practitioners
                </li>
                <li>
                    <i class="fa-solid fa-check benefits-tick"></i>
                    Interactive lectures
                </li>
                <li>
                    <i class="fa-solid fa-check benefits-tick"></i>
                    Intensive groupwork
                </li>
            </ul>
        </div>
        <h5>4 days Batch</h5>
        <!-- <div class="batch-dates">
            <div class="date1">7, 8, 14, 15 Feb 2025</div>
            <div class="vertical-line"></div>
            <div class="date2">11<sup>th</sup> Nov, Weekday Class</div>
        </div> -->
        <!-- <a href="" class="schedules">View all schedules</a> -->
    </div>
    <div class="bootcamp-footer">
        <!-- <div class="price">
            <div class="offer">
                <img src="../../assets/img/training/badge-percent.svg" alt="" style="width: 15px; height: 15px;">
                33% Off
            </div>
            <div class="total-price">
                $499<del>$749</del>
            </div>
        </div> -->
        <div class="Enroll-btn">
            <a [routerLink]="['/secure-payment', 'Value Methodology Analyst (VMA)']" routerLinkActive="active" ariaCurrentWhenActive="page" class="a-btn">Enroll Now</a>
        </div>
    </div>
    </div>
</div>
</div>
<app-footer></app-footer>
<app-scroll-button></app-scroll-button>
