<app-navbar></app-navbar> 
<div class="contact-bg">
    <p>Terms & <span style="color: #f0b429;">Conditions</span></p>
</div>
<div class="terms-conditions">
    <h3>Terms & <span style="color: #f0b429;">Conditions</span></h3>
    <h4>1. Introduction</h4>
    <p>Welcome to Enval Consultants. These terms and Conditionss govern your use of our website 
        [www.enval.in] (the "Website"). By accessing the Website, you agree to comply with these terms and 
        Conditions and our privacy policy. If you do not agree with any part of these terms, 
        please do not use the Website.
    </p>
    <h4>2. Intellectual Property Rights</h4>
    <p>The Website and its entire contents, features, and functionality (including but not limited to text, 
        graphics, logos, images, and software) are owned by or licensed to Enval Consultants and are protected by 
        intellectual property laws. You are granted a limited, non-exclusive, revocable license to access and use 
        the Website for your personal use only. You may not reproduce, distribute, modify, create derivative works 
        of, publicly display, publicly perform, republish, download, store, or transmit any of the material on our 
        Website without our prior written consent.
    </p>
    <h4>3. User Responsibilities</h4>
    <p>You agree to use the Website only for lawful purposes and in accordance with these terms and Conditions.
        <br>
        You are responsible for maintaining the confidentiality of any login information associated with any account 
        you use to access the Website. You agree not to:
        <br>
        - Use the Website in any way that violates any applicable federal, state, local, or international law or 
        regulation.
        <br>
        - Engage in any conduct that restricts or inhibits anyone's use or enjoyment of the Website, or which, as 
        determined by us, may harm Enval Consultants or users of the Website.
    </p>
    <h4>4. Limitation of Liability</h4>
    <p>
        In no event shall Enval Consultants, its affiliates, or their respective officers, directors, employees, or 
        agents be liable for any indirect, consequential, special, incidental, punitive, or exemplary damages, 
        arising out of or in connection with your use of the Website.
        <br>
        Enval Consultants makes no warranties or representations about the accuracy or completeness of the content 
        on the Website or the content of any sites linked to the Website.
    </p>
    <h4>5. Governing Law</h4>
    <p>These terms and Conditionss shall be governed by and construed in accordance with the laws of [Jurisdiction],
        without regard to its conflict of law principles.
    </p>
    <h4>6. Changes to Terms and Conditions</h4>
    <p>Enval Consultants reserves the right to modify or revise these terms and Conditions at any time without prior
        notice. By using the Website after such changes, you agree to be bound by the revised terms and Conditions.
    </p>
    <h4>7. Contact Information</h4>
    <p>If you have any questions about these terms and Conditions, please contact us at [connect&#64;enval.in]</p>
</div>
<app-footer></app-footer>
<app-scroll-button></app-scroll-button>
