<app-navbar></app-navbar>
<div class="top-container">
    <h1>Training for Certified Value Specialist (CVS)</h1>
    <img src="../../assets/img/training/Certificate_banner_dots.svgz" alt="" class="banner-dots">
    <div class="course-points">
        <img src="../../assets/img/training/course-preview.jpg" alt="">
        <div class="course-includes">
            <h4>Course Includes:</h4>
            <ul>
                <li>
                    <div class="content-name">
                        <i class="fa-solid fa-laptop icon"></i>
                        Pass Percentage:
                    </div>
                    <div class="content-value">
                        70%
                    </div>
                </li>
                <li>
                    <div class="content-name">
                        <i class="fa-solid fa-book-open icon"></i>
                        Exam Duration:
                    </div>
                    <div class="content-value">
                        3.5 Hrs
                    </div>
                </li>
                <li>
                    <div class="content-name">
                        <i class="fa-solid fa-globe icon"></i>
                        Language
                    </div>
                    <div class="content-value">
                        English
                    </div>
                </li>
                <li>
                    <div class="content-name">
                        <i class="fa-solid fa-award icon"></i>
                        Certificate
                    </div>
                    <div class="content-value">
                        Yes
                    </div>
                </li>
            </ul>
        </div>
        <div class="options">
            <a (click)="scrollToTraining()">View training options</a>
        </div>
    </div>
</div>
<div class="content-info">
    <h2 class="heading">Course Overview</h2>
    <p class="description">CVS is a professional certification that recognizes individuals who have demonstrated an expert 
        level experience and knowledge in the practice of Value Methodology. It is the highest level of certification in 
        value methodology from SAVE international</p>
    <div class="benefits-eligibility">
        <div class="benefits">
            <div class="benefits-heading">
                <h4>Benefits</h4>
            </div>
            <ul>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    <div class="info">Gain eligibility for conducting all certification training programs</div>
                </li>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    <div class="info">Lead VE studies and large-scale projects independently</div>    
                </li>
            </ul>
        </div>
        <div class="eligibility">
            <div class="eligibility-heading">
                <h4>Eligibility</h4>
            </div>
            <ul>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    <div class="info">VMA in good standing, and completed Value Methodology Fundamentals VMF-2 Training, as per SAVE guidelines</div>    
                </li>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    <div class="info">Completed 6 VE Studies / projects</div>    
                </li>
                <li>
                    <i class="fa-solid fa-check tick"></i>
                    <div class="info">Received requisite Credit Points (CPs) according to the SAVE International Guidelines.</div>    
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="content">
        <h4 class="content-heading">Content</h4>
        <ul>
            <li>
                <i class="fa-regular fa-circle-check"></i>
                Value Methodology Training (VMT) Module
            </li>
            <li>
                <i class="fa-regular fa-circle-check"></i>
                Fundamentals of VM
            </li>
            <li>
                <i class="fa-regular fa-circle-check"></i>
                Applications of VM
            </li>
        </ul>
    </div>
-->
</div>
<div class="methodology">
    <h4>Process and Examination</h4>
    <div class="list-items">
        <ul>
            <li>
                <i class="fa-solid fa-arrow-right arrow"></i>
                <div class="items">Undertake VMF 1 course and pass the exam to gain VMA Certification.</div>
            </li>
            <li>
                <i class="fa-solid fa-arrow-right arrow"></i>
                <div class="items">Complete an approved VMF 2 course. The VMF 2 may not be taken until the applicant participates in a
                minimum of two value studies (minimum of 24 hours each) following the completion of the VMF 1 training 
                and certification.</div>
            </li>
            <li>
                <i class="fa-solid fa-arrow-right arrow"></i>
                <div class="items">Select guide who is a CVS<sup>®</sup> in good standing.</div>
            </li>
            <li>
                <i class="fa-solid fa-arrow-right arrow"></i>
                <div class="items">Submit CVS<sup>®</sup> Application Package to INVEST.</div>
            </li>
            <li>
                <i class="fa-solid fa-arrow-right arrow"></i>
                <div class="items">Receive approval of the application.</div>
            </li>
            <li>
                <i class="fa-solid fa-arrow-right arrow"></i>
                <div class="items">Write 6 research papers based on the VE Studies / projects and submit your claim in the form of an 
                application and supporting documents for having completed all requirements to the INVEST Certification Board.</div> 
            </li>
            <li>
                <i class="fa-solid fa-arrow-right arrow"></i>
                <div class="items">INVEST Certification board will notify after acceptance of application for examination.</div>
            </li>
            <li>
                <i class="fa-solid fa-arrow-right arrow"></i>
                <div class="items">Offline Exam will be conducted by INVEST, comprising 5 papers</div>
            </li>
            <li>
                <i class="fa-solid fa-arrow-right arrow"></i>
                <div class="items">Pass the exam of 5 papers in 3.5 hours with min 70% marks in each paper</div>
            </li>
        </ul>
    </div>
</div>
<div class="certificates">
    <div class="certificate-container">
        <h2>Certification and Maintenance</h2>
        <div class="certificate-content">
            <ul>
                <li>Certification is awarded to a successful candidate after passing all 5 papers of the CVS exam.</li>
                <li>Total 3 exams are scheduled and conducted by the institution / college, 
                    with 70% passing marks in each exam.</li>
                <li>Biannual maintenance fee has to be paid to INVEST.</li>
            </ul>
            <!-- <div class="image-container">
                <img src="../../assets/img/training/Simplilearn_Certificate_ML.jpg" alt="">
            </div> -->
        </div>
    </div>
</div>
<div class="training-panel">
<div class="training-options" id="training" #training>
    <h4 class="head">Training Options</h4>
    <div class="option">
    <div class="bootcamp">
        <h4 class="bootcamp-head">ONLINE TRAINING</h4>
        <div class="bootcamp-benefits">
            <ul>
                <li>
                    <i class="fa-solid fa-check benefits-tick"></i>
                    Live, online classroom training by top instructors and practitioners
                </li>
                <li>
                    <i class="fa-solid fa-check benefits-tick"></i>
                    Interactive lectures
                </li>
                <li>
                    <i class="fa-solid fa-check benefits-tick"></i>
                    Intensive groupwork
                </li>
            </ul>
        </div>
        <h5>4 days Batch</h5>
        <!-- <div class="batch-dates">
            <div class="date1">7, 8, 14, 15 Feb 2025</div>
            <div class="vertical-line"></div>
            <div class="date2">11<sup>th</sup> Nov, Weekday Class</div>
        </div> -->
        <!-- <a href="" class="schedules">View all schedules</a> -->
    </div>
    <div class="bootcamp-footer">
        <!-- <div class="price">
            <div class="offer">
                <img src="../../assets/img/training/badge-percent.svg" alt="" style="width: 15px; height: 15px;">
                33% Off
            </div>
            <div class="total-price">
                $499<del>$749</del>
            </div>
        </div> -->
        <div class="Enroll-btn">
            <a [routerLink]="['/secure-payment', 'Certified Value Specialist (CVS)']" routerLinkActive="active" ariaCurrentWhenActive="page" class="a-btn">Enroll Now</a>
        </div>
    </div>
    </div>
</div>
</div>
<app-footer></app-footer>
<app-scroll-button></app-scroll-button>
