<app-navbar></app-navbar> 
<div class="contact-bg">
    <p>Cancellation &
        <span style="color: #f0b429;">Refund Policy</span>
    </p>
</div>
<div class="container">
    <h3>Cancellation and <span style="color: #f0b429;">Refund Policy</span></h3>
    <p>At Enval Consultants, all sales are final.</p>
    <h4>Cancellation:</h4> 
    <p>
        Once a course has been purchased, cancellation is not permitted as access is granted 
        immediately upon payment.
    </p>
    <h4>Refund:</h4> 
    <p>
        We do not offer refunds as the content is digital and accessible instantly. We encourage users to 
        review course descriptions and demos (if available) before purchase.
    </p>
    <h4>Contact:</h4> 
    <p>
        For any issues or concerns, please contact our team at [connect&#64;enval.in].
    </p>
</div>
<app-footer></app-footer>
<app-scroll-button></app-scroll-button>