<app-navbar></app-navbar>
<div class="courses-container">
    <h4 class="name">Hello, {{userFullName}}</h4>
    <p class="heading">Enrolled Courses</p>
    <button (click)="courses()">Show My Courses</button>
    <div class="courses">
        <div class="left">
            <div class="course-name">
                <p>Course Name</p>
                <h4>CVS</h4>
            </div>
            <div class="duration">
                <p>Course Duration</p>
                <h4>30 Hrs</h4>
            </div>
        </div>
        <div class="right">
            <i class="fa-solid fa-award"></i>
        </div>
    </div>
    <div class="courses">
        <div class="left">
            <div class="course-name">
                <p>Course Name</p>
                <h4>CVS</h4>
            </div>
            <div class="duration">
                <p>Course Duration</p>
                <h4>30 Hrs</h4>
            </div>
        </div>
        <div class="right">
            <i class="fa-solid fa-award"></i>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-scroll-button></app-scroll-button>
