<app-navbar></app-navbar> 
<div class="contact-bg">
    <p>Shipping &
        <span style="color: #f0b429;">Delivery</span>
    </p>
</div>
<div class="container">
    <h3>Shipping and <span style="color: #f0b429;">Delivery</span></h3>
    <p>As an e-learning platform, our services involve digital content that is delivered online.</p>
    <h4>Delivery:</h4> 
    <p>
        Access to courses and materials is provided instantly upon successful payment via the email address 
        or account registered at the time of purchase.
    </p>
    <h4>Shipping:</h4> 
    <p>
        No physical products are shipped as part of our services.
    </p>
    <h4>Contact:</h4> 
    <p>
        If you experience any delays or issues accessing the content, please reach out to us at [connect&#64;enval.in].
    </p>
</div>
<app-footer></app-footer>
<app-scroll-button></app-scroll-button>