app-navbar {
    position: fixed; /* Fixes the navbar at the top */
    top: 0; /* Aligns it to the top of the viewport */
    left: 0; /* Aligns it to the left */
    width: 100%; /* Full width of the viewport */
    z-index: 1000; /* Ensures it is above other content */
    background-color: #fff; /* Optional: set background color */
}
.About-us {
    margin: 0;
    padding: 0;
    padding-top: 70px;
}
.about-pic {
    background-image: url('../../assets/img/others_bg.jpg');
    background-size: contain;       /* Ensures the entire image is visible */
    background-position: center;    /* Centers the image */
    background-repeat: no-repeat;   /* Prevents the image from repeating */
    color: white;
    height: 500px;    /* Adjust the height as needed */
    width: 100%;      /* Ensures it takes the full width */
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.about-pic ul {
    list-style: none; /* Remove default list styling */
    display:flex;
}
.about-pic ul li + li::before {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    color: #6c757d;
    content: "";
    height: 10px;
    width: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 22px;
    margin-right: 17px;
}
.about-pic h1{
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 8px;
}
.about-pic ul li {
    font-size: 24px;
    font-weight: 500;
}
.about-pic ul li:last-child {
    color: #f0b429;
}
.about-pic ul li a{
    color: #fff;
    text-decoration: none;
}
.about-pic ul li a:hover{
    color: #0a1e3a;
}
/*Tranings*/
.value-eng-container{
    background-image: url('../../assets/img/testing/bg-2.png') ;
    padding-top: 5%;
    background-size: cover; 
    background-position: center; 
     background-repeat: no-repeat;
}
.train-container{
    background-image: url('../../assets/img/testing/bg.png') ;
    padding: 5% 0;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.trainings-cert{
    margin: 0% 5% 5% 5%;
    background-color: #E6E9EC;
    padding: 50px;
}
.trainings-cert .title{
    margin-bottom: 6px;
    font-family: Rubik, sans-serif;
    font-size: 43px;
    font-weight: 400;
    color: #043F71;
}
.trainings-cert .description {
    margin: 20px 0 40px 0;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #636363;
    line-height: 1.5;
}
.more-options{
    display: flex;
    gap: 15px;
}
.explore{
    background-color: #ffffff;
}
.read-more{
    background-color: #F5CA45;
}
.explore, .read-more{
    padding: 15px;
    width: 10%;
    display: flex;
    justify-content: center;
}
.explore a, .read-more a{
    font-family: Rubik, sans-serif;
    text-decoration: none;
    color: #0a1e3a;
    text-transform: uppercase;
}
/*Features*/
.features-section {
    text-align: center;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features-section .title {
    font-family: Rubik, sans-serif;
    position: relative;
    display: inline-block;
    padding: 0 5px; /* Space between lines and text */
    text-transform: uppercase;
    color: #002147;
}
.features-section .title::before,
.features-section .title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px; /* Adjust length of the lines */
    height: 1px; /* Adjust thickness of the lines */
    background-color: #000; /* Adjust color of the lines */
}
.features-section .title::after {
    right: -65px; /* Adjust position of the right line */
}
.features-section .title::before {
    left: -65px; /* Adjust position of the left line */
}
.features-section .description {
    font-family: Rubik, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #002147;
    text-align: center;
    margin-top: 15px;
    width: 540px;
    text-align: center;
}
.features-body{
    margin: 5%;
}
.categories{
    display: flex;
    gap: 10%;
    justify-content: center;
}
.categories > div{
    animation: appear 5s linear;
}
@keyframes appear {
    from {
        opacity: 0.5;
        scale: 0.7;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.categories .image{
    margin-bottom: 30px;
}
.leaders{
    text-align: end;
}
.leaders .image img, .policy_makers .image img{
    width: 50%;
}
.practicioners .name, .trainers .name, .students .name, .leaders .name, .policy_makers .name{
    text-align: center;
    font-family: Rubik, sans-serif;
    color: #043F71;
    font-size: 20px;
    font-weight: 500;
}
.leaders .name{
    text-align: end;
    padding-right: 40px;
} 
.policy_makers .name {
    text-align: start;
    padding-left: 60px;

}
/*Border*/
.vm-cvs{
    margin: 0 85px;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    border-radius: 8px;
    border: 1px solid #f8e9e9;
}
.vma, .vmf2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.vma-inner{
    flex: 1;
    background-color: #F2F5F8;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.vmf2-inner{
    flex: 1;
    background-color: #FAFBFC;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.image-vma i, .image-vmf2 i, .image-cvs i{
    background-color: #F5CA45;
    border-radius: 50%;
    color: #043F71;
}
.image-vma i{
    padding: 8%;
}
.image-vmf2 i{
    padding: 9% 8%;
}
.image-cvs i{
    padding: 8% 9%;
}
.vma-inner, .vmf2-inner{
    padding: 60px 60px 0px 60px;
    position: relative;
}
.vma-inner .description, .vmf2-inner .description{
    margin: 30px 0;
    color: #043F71;
    font-family: Rubik, sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.read-more-icon{
    padding: 25px;
    color: #043F71;
}
.read-more-button{
    display: none;
    background-color: #F5CA45;
    color: #043F71;
    font-family: Rubik, sans-serif;
    padding: 25px;
    text-align: center;
}
.vma:hover .read-more-icon, .vmf2:hover .read-more-icon{
    display: none;
}
.vma:hover .read-more-button, .vmf2:hover .read-more-button{
    display: block;
}
.read-more-button a{
    text-decoration: none;
    color: #043F71;
    padding-right: 10px;
}
/*Unique Features*/
.unique-features-container{
    margin: 10% 5% 0 5%;
    padding: 0 5%;
    display: flex;
}
.unique-features-container .left, .unique-features-container .right{
    flex: 1;
}
.right{
    margin-left: 5%;
}
.left, .right{
    height: 750px;
}
.left .image img {
    width: 100%; 
    height: 600px;
    object-fit: cover;
    border-radius: 8px; 
    display: block;
    position: relative; 
    z-index: 1; 
    top: -200px;
}
.left .thumbnail img{
    position: relative;
    width: 30%;
    height: auto;
    z-index:3;
    border-radius: 8px;
    border: 8px solid #F5CA45;
    top: -45px;
    left: -35px;
}
.left .feature-footer{
    position: relative;
    top: -230px;
    left: 60px;
    background-color: #ffffff;
    border-bottom: 4px solid #f0b429;
    width: 70%;
    z-index: 3;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-family: Rubik, sans-serif;
    color: #002147;
    font-size: 16px;
    font-weight: 400;
}
.unique-features-container .right{
    padding: 0 20px;
}
.right .aboutus{
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #002147;
}
.right .description{
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #565872;
    line-height: 1.5;
    margin-top: 20px;
}
.features ul{
    list-style-type: none;
    margin: 10px 0px;
    padding: 0;
}
.features ul li{
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #565872;
    display: flex;
    padding: 1% 0;
}
.features ul li .fa-icon{
    color: #043F71;
    background-color: #f0b429;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    padding: 15px;
    font-size: 20px;
}
.features ul li p{
    margin: 0%;
    padding-left: 3%;
    display: flex;
    align-items: center;
}