<app-navbar></app-navbar>
<div class="About-us">
    <div class="about-pic">
        <h1>Trainings</h1>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" 
                class="read-more-btn">Home</a>
            </li>
            <li>Trainings</li>
        </ul>
    </div>
</div>
<!--UniqueFeatures-->
<div class="unique-features-container">
    <div class="left">
        <div class="thumbnail">
            <img src="4.png" alt="">
        </div>
        <div class="image">
            <img src="IT-prof.jpg" alt="">
        </div>
        <div class="feature-footer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
        </div>
    </div>
    <div class="right">
        <div class="aboutus">
            ENVAL
        </div>
        <div class="discription">
            ENVAL offers a comprehensive suite of flexible and dynamic training programs designed to empower
            Value Management (VM) professionals at every level and across all sectors. Our offerings include
            both customized training solutions for organizations, including government bodies and corporate
            entities, as well as specialized stand-alone programs for individuals seeking international
            certifications.
            Empower yourself and your organization with ENVAL’s expert-led training programs and drive
            excellence in Value Management!
        </div>
        <div class="features">
            <ul>
                <li>
                    <i class="fa fa-check fa-icon"></i>
                    Training programs and coaching are conducted by trainers with global recognition
                </li>
                <li>
                    <i class="fa fa-check fa-icon"></i>
                    Value added sessions by industry and domain experts of international stature
                </li>
                <li>
                    <i class="fa fa-check fa-icon"></i>
                    Content aligned with digital revolution, emerging technologies and sustainability
                </li>
                <li>
                    <i class="fa fa-check fa-icon"></i>
                    Training coupled with internationally recognized certifications
                </li>
                <li>
                    <i class="fa fa-check fa-icon"></i>
                    100% results for CVS coaching
                </li>
            </ul>
        </div>
    </div>

</div>
<!--Trainings for certifications by indian value engineering-->
<div class="trainings-cert">
    <div class="title">
        Trainings for certifications by indian value engineering
    </div>
    <div class="description">
        ENVAL conducts trainings for various certification programs customised for specific context of Indian
        market segments, with reference to emerging trends. Certification is by Indian Value Engineering
        Society (INVEST).
    </div>
    <div class="more-options">
        <div class="explore">
            <a href="#">Explore More</a>
        </div>
        <div class="read-more">
            <a href="#">Read More</a>
        </div>
    </div>
</div>
<!--Features-->
<div class="features">
    <div class="title">
        Features
    </div>
    <div class="discriptios">
        Requirement Specific Unique Programs
    </div>
    <div class="categories">
        <div class="practicioners">
            <div class="image">
                <img src="practicioner.png" alt="">
            </div>
            <div class="name">
                Practicioners
            </div>
        </div>
        <div class="trainers">
            <div class="image">
                <img src="trainers.png" alt="">
            </div>
            <div class="name">
                Trainers
            </div>
        </div>
        <div class="students">
            <div class="image">
                <img src="students.png" alt="">
            </div>
            <div class="name">
                Students
            </div>
        </div>
    </div>
</div>
<!--Trainings for certification by SAVE International-->
<div class="trainings-cert">
    <div class="title">
        Trainings for Certification by SAVE International
    </div>
    <div class="description">
        The programs are conducted as per the mandate of SAVE International. The training programs
        comprise of curriculum and content specified by SAVE International, and aim to equip the trainees. with fundamentals and skills, 
        applicable in general. Trainings are conducted and delivered based on
        ENVAL’s approach, while certification is through SAVE International.
    </div>
    <div class="more-options">
        <div class="explore">
            <a href="#">Explore More</a>
        </div>
        <div class="read-more">
            <a href="#">Read More</a>
        </div>
    </div>
</div>
<!--VMA, VMF2, CVS-->
<div class="vm-cvs">
<div class="vma">
    <div class="image-vma">
        <img src="" alt="">
    </div>
    <div class="discription">
        VMA
    </div>
</div>
<div class="vmf2">
    <div class="image-vmf2">
        <img src="" alt="">
    </div>
    <div class="discription">
        VMF2 
    </div>
</div>
<div class="cvs">
    <div class="image-vma"></div>
    <div class="discrption">
        CVS
    </div>
</div>
</div>
<app-footer></app-footer>