<app-navbar></app-navbar>

<!--Home Content-->
<div class="home-content">
    <div class="home-panel">
    <div class="app-logo">
        <a href="index.html">
           <img src="assets/img/logo_trans.png" alt="img" > 
        </a>    
    </div>
    <h1 class="title">
        We only add<br>value
    </h1>
    <div class="buttons">
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="explore-btn">Explore More</a>
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="contact-btn">Contact Us</a>
    </div>
    </div>
</div>

<!--Card Container-->
<div class="card-layout">
<div class="card-container">
<div class="card card1">
    <div class="card-front">
        <div class="f-logo">
            <mat-icon>school</mat-icon>
        </div>
        <h4 class="f-heading">
            Specialised Services
        </h4>
        <!-- <div class="f-desc">
            Emphasis on tech integration, change management, and sustainability
        </div>        -->
    </div>
    <div class="card-back">
        <!-- <div class="f-logo">
            <mat-icon>school</mat-icon>
        </div>
        <h4 class="f-heading">
            Specialised Services
        </h4> -->
        <div class="f-desc">
            Emphasis on tech integration, change management, and sustainability.
        </div>       
    </div>
</div>
<div class="card card2">
<div class="card-front">
    <div class="f-logo">
        <mat-icon>book_4_spark</mat-icon>
    </div>
    <h4 class="f-heading">
        Artificial Intelligence
    </h4>
    <!-- <div class="f-desc">
        AI-enabled technology solutions for VM applications across key segments 
    </div> -->
</div>
    <div class="card-back">
        <!-- <div class="f-logo">
            <mat-icon>book_4_spark</mat-icon>
        </div>
        <h4 class="f-heading">
            Artificial Intelligence
        </h4> -->
        <div class="f-desc">
            AI-enabled technology solutions for VM applications across key segments 
        </div>
    </div>
</div>
<div class="card card3">
    <div class="card-front">
        <div class="f-logo">
            <mat-icon>play_lesson</mat-icon>
        </div>
        <h4 class="f-heading">
            Exculsive Expertise
        </h4>
        <!-- <div class="f-desc">
            Exclusive expertise for accelerating digital transformation through application of VM 
        </div>         -->
    </div>
    <div class="card-back">
        <!-- <div class="f-logo">
            <mat-icon>play_lesson</mat-icon>
        </div>
        <h4 class="f-heading">
            Exculsive Expertise
        </h4> -->
        <div class="f-desc">
            Exclusive expertise for accelerating digital transformation through application of VM 
        </div>        
    </div>
</div>
<div class="card card4">
    <div class="card-front">
        <div class="f-logo">
            <mat-icon>domain</mat-icon>
        </div>
        <h4 class="f-heading">
            Deep Domain Knowledge
        </h4>
        <!-- <div class="f-desc">
            Experience to cater to cross border projects in infrastructure, heavy industry, automobile, energy, IT.
        </div> -->
    </div>
    <div class="card-back">
        <!-- <div class="f-logo">
            <mat-icon>domain</mat-icon>
        </div>
        <h4 class="f-heading">
            Deep Domain Knowledge
        </h4> -->
        <div class="f-desc">
            Experience to cater to cross border projects in infrastructure, heavy industry, automobile, energy, IT.
        </div>
    </div>
</div>
<div class="card card5">
    <div class="card-front">
        <div class="f-logo">
            <mat-icon>picture_in_picture_large</mat-icon>
        </div>
        <h4 class="f-heading">
            Unique acumen
        </h4>
        <!-- <div class="f-desc">
            Design and delivery of complex and large-scale VM projects for government
        </div> -->
    </div>
    <div class="card-back">
        <!-- <div class="f-logo">
            <mat-icon>picture_in_picture_large</mat-icon>
        </div>
        <h4 class="f-heading">
            Unique acumen
        </h4> -->
        <div class="f-desc">
            Design and delivery of complex and large-scale VM projects for government
        </div>
    </div>
</div>
<div class="card card6">
    <div class="card-front">
        <div class="f-logo">
            <mat-icon>inventory_2</mat-icon>
        </div>
        <h4 class="f-heading">
            Customised Products
        </h4>
        <!-- <div class="f-desc">
            Only firm with customised services and products for CSR and Social Sector
        </div>         -->
    </div>
    <div class="card-back">
        <!-- <div class="f-logo">
            <mat-icon>inventory_2</mat-icon>
        </div>
        <h4 class="f-heading">
            Customised Products
        </h4> -->
        <div class="f-desc">
            Only firm with customised services and products for CSR and Social Sector
        </div>        
    </div>
</div>
</div>
<div class="card-container">
    <div class="card card1">
        <div class="card-front">
            <div class="f-logo">
                <mat-icon>school</mat-icon>
            </div>
            <h4 class="f-heading">
                Specialised Services
            </h4>
            <!-- <div class="f-desc">
                Emphasis on tech integration, change management, and sustainability
            </div>        -->
        </div>
        <div class="card-back">
            <!-- <div class="f-logo">
                <mat-icon>school</mat-icon>
            </div>
            <h4 class="f-heading">
                Specialised Services
            </h4> -->
            <div class="f-desc">
                Emphasis on tech integration, change management, and sustainability.
            </div>       
        </div>
    </div>
    <div class="card card2">
    <div class="card-front">
        <div class="f-logo">
            <mat-icon>book_4_spark</mat-icon>
        </div>
        <h4 class="f-heading">
            Artificial Intelligence
        </h4>
        <!-- <div class="f-desc">
            AI-enabled technology solutions for VM applications across key segments 
        </div> -->
    </div>
        <div class="card-back">
            <!-- <div class="f-logo">
                <mat-icon>book_4_spark</mat-icon>
            </div>
            <h4 class="f-heading">
                Artificial Intelligence
            </h4> -->
            <div class="f-desc">
                AI-enabled technology solutions for VM applications across key segments 
            </div>
        </div>
    </div>
    <div class="card card3">
        <div class="card-front">
            <div class="f-logo">
                <mat-icon>play_lesson</mat-icon>
            </div>
            <h4 class="f-heading">
                Exculsive Expertise
            </h4>
            <!-- <div class="f-desc">
                Exclusive expertise for accelerating digital transformation through application of VM 
            </div>         -->
        </div>
        <div class="card-back">
            <!-- <div class="f-logo">
                <mat-icon>play_lesson</mat-icon>
            </div>
            <h4 class="f-heading">
                Exculsive Expertise
            </h4> -->
            <div class="f-desc">
                Exclusive expertise for accelerating digital transformation through application of VM 
            </div>        
        </div>
    </div>
    <div class="card card4">
        <div class="card-front">
            <div class="f-logo">
                <mat-icon>domain</mat-icon>
            </div>
            <h4 class="f-heading">
                Deep Domain Knowledge
            </h4>
            <!-- <div class="f-desc">
                Experience to cater to cross border projects in infrastructure, heavy industry, automobile, energy, IT.
            </div> -->
        </div>
        <div class="card-back">
            <!-- <div class="f-logo">
                <mat-icon>domain</mat-icon>
            </div>
            <h4 class="f-heading">
                Deep Domain Knowledge
            </h4> -->
            <div class="f-desc">
                Experience to cater to cross border projects in infrastructure, heavy industry, automobile, energy, IT.
            </div>
        </div>
    </div>
    <div class="card card5">
        <div class="card-front">
            <div class="f-logo">
                <mat-icon>picture_in_picture_large</mat-icon>
            </div>
            <h4 class="f-heading">
                Unique acumen
            </h4>
            <!-- <div class="f-desc">
                Design and delivery of complex and large-scale VM projects for government
            </div> -->
        </div>
        <div class="card-back">
            <!-- <div class="f-logo">
                <mat-icon>picture_in_picture_large</mat-icon>
            </div>
            <h4 class="f-heading">
                Unique acumen
            </h4> -->
            <div class="f-desc">
                Design and delivery of complex and large-scale VM projects for government
            </div>
        </div>
    </div>
    <div class="card card6">
        <div class="card-front">
            <div class="f-logo">
                <mat-icon>inventory_2</mat-icon>
            </div>
            <h4 class="f-heading">
                Customised Products
            </h4>
            <!-- <div class="f-desc">
                Only firm with customised services and products for CSR and Social Sector
            </div>         -->
        </div>
        <div class="card-back">
            <!-- <div class="f-logo">
                <mat-icon>inventory_2</mat-icon>
            </div>
            <h4 class="f-heading">
                Customised Products
            </h4> -->
            <div class="f-desc">
                Only firm with customised services and products for CSR and Social Sector
            </div>        
        </div>
    </div>
    </div>
</div>

<!--About Enval-->
<div class="about-us">
        <!-- Image section on the left -->
        <div class="about-image">
            <img src="assets/img/home-bg-2.jpg" alt="Group of people">
            <div class="yellow-panel"></div>
        </div>
        <!-- Text content section on the right -->
        <div class="about-text">
            <div class="heading-with-line">
                <p class="about-heading">ABOUT ENVAL</p>
                <div class="line"></div>
            </div>
            <p class="sub-head">We only add value</p>
            <p class="description">
                ENVAL Consultants Pvt. Ltd. stands as distinguished leader in the realm of Value Management, offering an 
                extensive array of services and products that span across training, consulting, project management, and 
                innovative AI-driven software solutions.
                <br><br>
                Our vision at ENVAL is to serve as a catalyst for transformative change, leveraging cutting-edge technology 
                and expert insights to empower teams and enable businesses to unlock sustainable value. Through our 
                technology-driven approach to Value Management, we strive to equip organizations with the tools and 
                methodologies necessary to thrive in an ever-evolving global landscape.
            </p> 
            <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="read-more-btn">Read More</a>
        </div>
</div>

<!--Services -->
<div class="sub-heading">Services</div>
<div class="services">
    <div class="service-container">
        <div class="service-box">
            <div class="srvc-thumbnail">
                <img src="../../assets/img/thumb-1.png" alt="thumb">
            </div>
            <div class="srvc-content">
            <div class="srvc-pic">
                <img src="../../assets/img/home-service1.jpg" alt="Trainings">
            </div>
            <div class="srvc-bottom">
                <div class="srvc-heading">
                    <a routerLink="/training" routerLinkActive="active" ariaCurrentWhenActive="page">Trainings</a>
                </div>
                <mat-icon>trending_flat</mat-icon>
            </div>
            </div>
        </div>
        <div class="service-box">
            <div class="srvc-thumbnail">
                <img src="../../assets/img/thumb-2.png" alt="thumb">
            </div>

            <div class="srvc-content">
            <div class="srvc-pic">
                <img src="assets/img/home-service2.jpg" alt="Consutling">
            </div>
            <div class="srvc-bottom">
                <div class="srvc-heading">
                    <a routerLink="/consulting" routerLinkActive="active" ariaCurrentWhenActive="page">Consulting</a>
                </div>
                <mat-icon>trending_flat</mat-icon>
            </div>
            </div>
        </div>
        <div class="service-box">
            <div class="srvc-thumbnail">
                <img src="../../assets/img/thumb-3.png" alt="thumb">
            </div>

            <div class="srvc-content">
            <div class="srvc-pic">
                <img src="assets/img/home-service3.jpg" alt="IT Solutions">
            </div>
            <div class="srvc-bottom">
                <div class="srvc-heading">
                    <a routerLink="/solutions" routerLinkActive="active" ariaCurrentWhenActive="page">IT Solutions</a>
                </div>
                <mat-icon>trending_flat</mat-icon>
            </div>
            </div>
        </div>
        <div class="service-box">
            <div class="srvc-thumbnail">
                <img src="../../assets/img/thumb-4.png" alt="thumb">
            </div>

            <div class="srvc-content">
            <div class="srvc-pic">
                <img src="assets/img/home-service4.jpg" alt="IT Projects">
            </div>
            <div class="srvc-bottom">
                <div class="srvc-heading">
                    <!-- <a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">IT Projects</a> -->
                    <a href="">IT Projects</a>
                </div>
                <mat-icon>trending_flat</mat-icon>
            </div>
            </div>
        </div>
    </div>
</div>

<!--Upcoming Events-->
<div class="events-heading">
    <div class="head">Events</div>
    <div class="sub-heading">Upcoming Events</div>
</div>
<div class="events-section">
    <div class="events">
        <ul>
            <li class="event">
                <div class="single-event">
                    <div class="date">
                        <span>JAN</span>20
                    </div>
                    <div class="details">
                        <ul>
                            <li>
                                <mat-icon>person</mat-icon>BY ADMIN
                            </li>
                        </ul>
                        <a routerLink="/eventspage-svp" routerLinkActive="active" ariaCurrentWhenActive="page">Training for Student Value Practitioner (SVP)</a>
                    </div>
                </div>
            </li>
            <li class="event">
                <div class="single-event">
                    <div class="date">
                        <span>FEB</span>26
                    </div>
                    <div class="details">
                        <ul>
                            <li>
                                <mat-icon>person</mat-icon>BY ADMIN
                            </li>
                        </ul>
                        <a routerLink="/eventspage-sva" routerLinkActive="active" ariaCurrentWhenActive="page">Training for Senior Value Analyst (SVA)</a>
                    </div>
                </div>
            </li>
            <li class="event">
                <div class="single-event">
                    <div class="date">
                        <span>JAN</span>28
                    </div>
                    <div class="details">
                        <ul>
                            <li>
                                <mat-icon>person</mat-icon>BY ADMIN
                            </li>
                        </ul>
                        <a routerLink="/eventspage-pva" routerLinkActive="active" ariaCurrentWhenActive="page">Training for Professional Value Analyst (PVA)</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="event-thumbnail">
        <div class="contact-section">
            <div class="phone-icons">
                <mat-icon class="icon">phone</mat-icon>
            </div>
            <div class="call-content">
                <span class="contact-text">Call Us</span>
                <span class="contact-number">+91 98999 48940</span>
            </div>
        </div>
        <img src="../../assets/img/events-thumbnail.jpg" alt="Events">
        <div class="gradient-overlay"></div>
    </div>
</div>

<!--Corporate Trainings-->
<div class="sub-heading">Corporate Trainings</div>
<div class="trainings">
    <div class="training-card">
        <div class="training-img">
            <img src="../../assets/img/training1.jpg" alt="img1">
        </div>
        <div class="training-content">
            <div class="training-name">
                Classroom Training
            </div>
        </div>
        <div class="training-footer">
            <a (click)="toggleContact()">Know More</a>
        </div>
    </div>
    <div class="training-card">
        <div class="training-img">
            <img src="../../assets/img/training2.jpg" alt="img1">
        </div>
        <div class="training-content">
            <div class="training-name">
                Training + Certification
            </div>
        </div>
        <div class="training-footer">
            <a (click)="toggleContact()">Know More</a>
        </div>
    </div>
    <div class="training-card">
        <div class="training-img">
            <img src="../../assets/img/training3.jpg" alt="img1">
        </div>
        <div class="training-content">
            <div class="training-name">
                Virtual Training
            </div>
        </div>
        <div class="training-footer">
            <a (click)="toggleContact()">Know More</a>
        </div>
    </div>
</div>
<div *ngIf="isContactVisible" class="contact"> 
    <!-- Your contact content goes here --> 
    <div class="training-form">
    <div class="individual-form">
        <div class="form-heading-bar">
            <div class="form-heading">
                Fill up the following form to apply for Individual Training
            </div>
            <button (click)="closeContact()" class="closebutton">x</button> 
        </div>
        <div class="form-items">
            <input type="text" placeholder="Full Name">
        </div>
        <div class="form-items">
            <input type="text" placeholder="Organization">
        </div>
        <div class="form-items">
            <input type="text" placeholder="Designation">
        </div>
        <div class="dropdown-container"> 
            <select id="options" name="options" class="dropdown"> 
                <option value="selectcourse">Select Course</option>
                <option value="option1">Classroom Training</option> 
                <option value="option2">Training + Certification</option> 
                <option value="option3">Virtual Training</option>
            </select> 
        </div>
        <div class="form-items">
            <input type="text" placeholder="Location">
        </div>
        <div class="form-items">
            <input type="text" placeholder="Phone Number">
        </div>
        <div class="form-items">
            <input type="text" placeholder="Email Address">
        </div>
        <div class="button-ele">
            <button type="submit">Submit Form</button>
        </div>
    </div>
    </div>
</div>
<!--Testimonials-->
<div class="testimonial-container">
    <div class="testimonial">
        <div class="testi-content">
            <p class="review">"Its just brilliant! I would recommend Cobuild to 
everyone I know! I'm really glad to these
guys got Cobuild out there"</p>
            <h5>1.Gene Stevens</h5>
        </div>
    </div>
    <div class="testimonial">
        <div class="testi-content">
            <p class="review">"We are so excited to launch our new company, 
By using Cobuild it has a great features,
I think you are all about to make me happy"</p>
            <h5>2.Gene Stevens</h5>
        </div>
    </div>
    <div class="testimonial">
        <div class="testi-content">
            <p class="review">"Its just brilliant! I would recommend Cobuild to 
everyone I know! I'm really glad to these guys 
got Cobuild out there"</p>
            <h5>3.Gene Stevens</h5>
        </div>
    </div>
    <div class="testimonial">
        <div class="testi-content">
            <p class="review">"We are so excited to launch our new company, By using 
Cobuild it has a great features, I think you are 
all about to make me happy"</p>
            <h5>4.Gene Stevens</h5>
        </div>
    </div>
</div>

<!--Quote-->
<div class="contact-area">
    <div class="contact-container">
        <div class="row">
            <div class="col">
                <form class="contact-form-inner">
                    <div class="section-title">
                        <h2 class="form-title">Request a Quote</h2>
                        <p>We will be happy to answer your questions.</p>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="text" placeholder="Full name">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="text" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="text" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="text" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="single-input-inner">
                                <textarea placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="single-input-inner">
                                <input type="checkbox"> Also subscribe us
                            </div>
                        </div>
                        <!-- <re-captcha siteKey="YOUR_SITE_KEY"></re-captcha> -->
                        <div class="col-3">
                            <a class="btn" href="#">Send Message</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col1">
                <div class="mt-5">
                    <ul class="single-list-wrap">
                        <li class="single-list-inner">
                            <div class="media">
                                <div class="media-left">
                                    <img src="../../assets/img/16.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h5>Our Address</h5>
                                    <p>Silver Sands Apt., Piramal Nagar, S.V. Road</p>
                                    <p>Goregaon (w), Mumbai - 400064TESti</p>
                                </div>
                            </div>
                        </li>
                        <li class="single-list-inner">
                            <div class="media">
                                <div class="media-left">
                                    <img src="../../assets/img/17.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h5>Our Phone</h5>
                                    <p>+91 98999 48940</p>
                                </div>
                            </div>
                        </li>
                        <li class="single-list-inner">
                            <div class="media">
                                <div class="media-left">
                                    <img src="../../assets/img/18.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h5>Our Email</h5>
                                    <p>connect&#64;enval.in</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
