<app-navbar></app-navbar> 

<!--Home Content-->
<div class="home-content">
    <div class="home-panel">
    <div class="app-logo">
        <!-- <a href="index.html">
           <img src="assets/img/home/logo_trans.png" alt="img" > 
        </a>     -->
        We only enhance value
    </div>
    <!-- <h1 class="title">
        We only add value
    </h1> -->
    <div class="buttons">
        <a (click)="scrollToAbout()" class="explore-btn">Explore More</a>
        <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-8bits" [fullScreen]="true"></ngx-spinner>
        <button (click)="downloadFlyer()" class="contact-btn">Professional Value Analyst Training Flyer</button> -->
    </div>
    </div>
</div>
<!--Cards-->
<div class="card-layout">
    <div class="card-container">
    <div class="card card1">
        <div class="card-front">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    school
                </span>
            </div>
            <h4 class="f-heading">
                Enhance Value
            </h4>
            <!-- <div class="f-desc">
                Emphasis on tech integration, change management, and sustainability
            </div>        -->
        </div>
        <div class="card-back">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    school
                </span>
            </div>
            <h4 class="f-heading">
                Enhance Value
            </h4>
            <!-- <div class="f-desc">
                Emphasis on tech integration, change management, and sustainability.
            </div>        -->
        </div>
    </div>
    <div class="card card2">
    <div class="card-front">
        <div class="f-logo">
            <span class="material-symbols-outlined">
                book_4_spark
            </span>
        </div>
        <h4 class="f-heading">
            Innovate Methodology
        </h4>
        <!-- <div class="f-desc">
            AI-enabled technology solutions for VM applications across key segments 
        </div> -->
    </div>
        <div class="card-back">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    book_4_spark
                </span>
            </div>
            <h4 class="f-heading">
                Innovate Methodology
            </h4>
            <!-- <div class="f-desc">
                AI-enabled technology solutions for VM applications across key segments 
            </div> -->
        </div>
    </div>
    <div class="card card3">
        <div class="card-front">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    play_lesson
                </span>
            </div>
            <h4 class="f-heading">
                Adopt AI/ML
            </h4>
            <!-- <div class="f-desc">
                Exclusive expertise for accelerating digital transformation through application of VM 
            </div>         -->
        </div>
        <div class="card-back">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    play_lesson
                </span>
            </div>
            <h4 class="f-heading">
                Adopt AI/ML
            </h4>
            <!-- <div class="f-desc">
                Exclusive expertise for accelerating digital transformation through application of VM 
            </div>         -->
        </div>
    </div>
    <div class="card card4">
        <div class="card-front">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    domain
                </span>
            </div>
            <h4 class="f-heading">
                Transform Operations
            </h4>
            <!-- <div class="f-desc">
                Experience to cater to cross border projects in infrastructure, heavy industry, automobile, energy, IT.
            </div> -->
        </div>
        <div class="card-back">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    domain
                </span>
            </div>
            <h4 class="f-heading">
                Transform Operations
            </h4>
            <!-- <div class="f-desc">
                Experience to cater to cross border projects in infrastructure, heavy industry, automobile, energy, IT.
            </div> -->
        </div>
    </div>
    <div class="card card5">
        <div class="card-front">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    picture_in_picture_large
                </span>
            </div>
            <h4 class="f-heading">
                Improve Productivity
            </h4>
            <!-- <div class="f-desc">
                Design and delivery of complex and large-scale VM projects for government
            </div> -->
        </div>
        <div class="card-back">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    picture_in_picture_large
                </span>
            </div>
            <h4 class="f-heading">
                Improve Productivity
            </h4>
            <!-- <div class="f-desc">
                Design and delivery of complex and large-scale VM projects for government
            </div> -->
        </div>
    </div>
    <div class="card card6">
        <div class="card-front">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    inventory_2
                </span>
            </div>
            <h4 class="f-heading">
                Achieve Excellence
            </h4>
            <!-- <div class="f-desc">
                Only firm with customised services and products for CSR and Social Sector
            </div>         -->
        </div>
        <div class="card-back">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    inventory_2
                </span>
            </div>
            <h4 class="f-heading">
                Achieve Excellence
            </h4>
            <!-- <div class="f-desc">
                Only firm with customised services and products for CSR and Social Sector
            </div>         -->
        </div>
    </div>
    </div>
    <div class="card-container">
        <div class="card card1">
            <div class="card-front">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        school
                    </span>
                </div>
                <h4 class="f-heading">
                    Enhance Value
                </h4>
                <!-- <div class="f-desc">
                    Emphasis on tech integration, change management, and sustainability
                </div>        -->
            </div>
            <div class="card-back">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        school
                    </span>
                </div>
                <h4 class="f-heading">
                    Enhance Value
                </h4>
                <!-- <div class="f-desc">
                    Emphasis on tech integration, change management, and sustainability.
                </div>        -->
            </div>
        </div>
        <div class="card card2">
        <div class="card-front">
            <div class="f-logo">
                <span class="material-symbols-outlined">
                    book_4_spark
                </span>
            </div>
            <h4 class="f-heading">
                Innovate Methodology
            </h4>
            <!-- <div class="f-desc">
                AI-enabled technology solutions for VM applications across key segments 
            </div> -->
        </div>
            <div class="card-back">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        book_4_spark
                    </span>
                </div>
                <h4 class="f-heading">
                    Innovate Methodology
                </h4>
                <!-- <div class="f-desc">
                    AI-enabled technology solutions for VM applications across key segments 
                </div> -->
            </div>
        </div>
        <div class="card card3">
            <div class="card-front">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        play_lesson
                    </span>
                </div>
                <h4 class="f-heading">
                    Adopt AI/ML
                </h4>
                <!-- <div class="f-desc">
                    Exclusive expertise for accelerating digital transformation through application of VM 
                </div>         -->
            </div>
            <div class="card-back">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        play_lesson
                    </span>
                </div>
                <h4 class="f-heading">
                    Adopt AI/ML
                </h4>
                <!-- <div class="f-desc">
                    Exclusive expertise for accelerating digital transformation through application of VM 
                </div>         -->
            </div>
        </div>
        <div class="card card4">
            <div class="card-front">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        domain
                    </span>
                </div>
                <h4 class="f-heading">
                    Transform Operations
                </h4>
                <!-- <div class="f-desc">
                    Experience to cater to cross border projects in infrastructure, heavy industry, automobile, energy, IT.
                </div> -->
            </div>
            <div class="card-back">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        domain
                    </span>
                </div>
                <h4 class="f-heading">
                    Transform Operations
                </h4>
                <!-- <div class="f-desc">
                    Experience to cater to cross border projects in infrastructure, heavy industry, automobile, energy, IT.
                </div> -->
            </div>
        </div>
        <div class="card card5">
            <div class="card-front">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        picture_in_picture_large
                    </span>
                </div>
                <h4 class="f-heading">
                    Improve Productivity
                </h4>
                <!-- <div class="f-desc">
                    Design and delivery of complex and large-scale VM projects for government
                </div> -->
            </div>
            <div class="card-back">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        picture_in_picture_large
                    </span>
                </div>
                <h4 class="f-heading">
                    Improve Productivity
                </h4>
                <!-- <div class="f-desc">
                    Design and delivery of complex and large-scale VM projects for government
                </div> -->
            </div>
        </div>
        <div class="card card6">
            <div class="card-front">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        inventory_2
                    </span>
                </div>
                <h4 class="f-heading">
                    Achieve Excellence
                </h4>
                <!-- <div class="f-desc">
                    Only firm with customised services and products for CSR and Social Sector
                </div>         -->
            </div>
            <div class="card-back">
                <div class="f-logo">
                    <span class="material-symbols-outlined">
                        inventory_2
                    </span>
                </div>
                <h4 class="f-heading">
                    Achieve Excellence
                </h4>
                <!-- <div class="f-desc">
                    Only firm with customised services and products for CSR and Social Sector
                </div>         -->
            </div>
        </div>
    </div>
</div>
<!--About Enval-->
<div class="about-us" id="about" #about>
        <!-- Image section on the left -->
        <div class="about-image">
            <img src="../../assets/img/home/training1.jpg" alt="Group of people">
            <div class="yellow-panel"></div>
        </div>
        <!-- Text content section on the right -->
        <div class="about-text">
            <div class="heading-with-line">
                <p class="about-heading">ABOUT ENVAL</p>
                <div class="line"></div>
            </div>
            <p class="sub-head">We only enhance value</p>
            <p class="description">
                ENVAL Consultants Pvt. Ltd. stands as distinguished leader in the Value Management space, offering 
                an array of digitally-enabled, transformative solutions catering to unique needs of public and 
                private sector and academia. These comprise of training; advisory; consulting; projects and 
                AI-powered VM software. 
                <br><br>
                Through our technology-driven approach to Value Management, we strive to equip organizations with 
                the tools and methodologies necessary to thrive in an ever-evolving global landscape.
            </p> 
            <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="read-more-btn">Know More</a>
        </div>
</div>

<!--Value Proposition-->
<div class="values">
<div class="values-left">
    <div class="heading">Our Value Proposition</div>
    <p class="description">We deliver AI-driven solutions and expertise in Value Management (VM) to transform 
        businesses across industries, including government and CSR with a focus on innovation, 
        sustainability, and impactful outcomes.
    </p>
</div>
<div class="values-right">
    <div class="batch1">
        <div class="value">
            <div class="value-img">
                <span class="material-symbols-outlined">
                    manage_accounts
                </span>
            </div>
            <div class="value-info">
                <div class="value-head">Specialised services</div>
                <div class="value-subhead">Strong focus on integration of technology, change management, competitive advantage and 
                    sustainability. </div>
            </div>
        </div>
        <div class="value">
            <div class="value-img">
                <span class="material-symbols-outlined">
                    network_intel_node
                </span>
            </div>
            <div class="value-info">
                <div class="value-head">AI-enabled</div>
                <div class="value-subhead">AI-enabled technology solutions for VM applications across key segments</div>
            </div>
        </div>
        <div class="value">
            <div class="value-img">
                <span class="material-symbols-outlined">
                    encrypted_add_circle
                </span>
            </div>
            <div class="value-info">
                <div class="value-head">Exclusive expertise</div>
                <div class="value-subhead">Exclusive expertise for accelerating digital transformation through application of VM </div>
            </div>
        </div>
    </div>
    <div class="batch2">
        <div class="value">
            <div class="value-img">
                <span class="material-symbols-outlined">
                    domain_add
                </span>
            </div>
            <div class="value-info">
                <div class="value-head">Deep domain knowledge</div>
                <div class="value-subhead">
                    Experience to cater to cross border projects in infrastructure, heavy industry, automobile, energy, IT
                </div>
            </div>
        </div>
        <div class="value">
            <div class="value-img">
                <span class="material-symbols-outlined">
                    frame_inspect
                </span>
            </div>
            <div class="value-info">
                <div class="value-head">Unique acumen</div>
                <div class="value-subhead">
                    Design and delivery of complex and large-scale VM projects for government
                </div>
            </div>
        </div>
        <div class="value">
            <div class="value-img">
                <span class="material-symbols-outlined">
                    deployed_code_account
                </span>
            </div>
            <div class="value-info">
                <div class="value-head">Services & Products</div>
                <div class="value-subhead">
                    Only firm with customised services and products for CSR and Social Sector
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--Services -->
<div class="sub-heading">Our Digitally-powered VM Solutions</div>
<div class="services">
    <div class="service-container">
        <div class="service-box">
            <div class="srvc-thumbnail">
                <img src="../../assets/img/home/thumb-1.png" alt="thumb">
            </div>
            <div class="srvc-content">
            <div class="srvc-pic">
                <img src="../../assets/img/home/training3.jpg" alt="Trainings">
            </div>
            <div class="srvc-bottom">
                <div class="srvc-heading">
                    <a routerLink="/training" routerLinkActive="active" ariaCurrentWhenActive="page">Trainings: Practitioners and Organizational</a>
                </div>
                <span class="material-symbols-outlined">
                    trending_flat
                </span>
            </div>
            </div>
        </div>
        <div class="service-box">
            <div class="srvc-thumbnail">
                <img src="../../assets/img/home/thumb-2.png" alt="thumb">
            </div>

            <div class="srvc-content">
            <div class="srvc-pic">
                <img src="assets/img/home/home-service2.jpg" alt="Consutling">
            </div>
            <div class="srvc-bottom">
                <div class="srvc-heading">
                    <a routerLink="/consulting" routerLinkActive="active" ariaCurrentWhenActive="page">Consulting: Public and Private Sector</a>
                </div>
                <span class="material-symbols-outlined">
                    trending_flat
                </span>
            </div>
            </div>
        </div>
        <div class="service-box">
            <div class="srvc-thumbnail">
                <img src="../../assets/img/home/thumb-4.png" alt="thumb">
            </div>

            <div class="srvc-content">
            <div class="srvc-pic">
                <img src="../../assets/img/home/it_project.jpg" alt="IT Projects">
            </div>
            <div class="srvc-bottom">
                <div class="srvc-heading">
                    <a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects: Inclusive and Collaborative</a>
                </div>
                <span class="material-symbols-outlined">
                    trending_flat
                </span>
            </div>
            </div>
        </div>
        <div class="service-box">
            <div class="srvc-thumbnail">
                <img src="../../assets/img/home/thumb-3.png" alt="thumb">
            </div>

            <div class="srvc-content">
            <div class="srvc-pic">
                <img src="../../assets/img/home/it-solutions.png" alt="IT Solutions">
            </div>
            <div class="srvc-bottom">
                <div class="srvc-heading">
                    <a routerLink="/solutions" routerLinkActive="active" ariaCurrentWhenActive="page">IT Solutions: AI Powered and Integrated</a>
                </div>
                <span class="material-symbols-outlined">
                    trending_flat
                </span>
            </div>
            </div>
        </div>
    </div>
</div>

<!--Upcoming Events-->
<div class="events-heading">
    <div class="head">Events</div>
    <div class="sub-heading">Upcoming Trainings</div>
</div>
<div class="events-section">
    <div class="events">
        <ul>
            <li class="event">
                <div class="single-event">
                    <div class="date">
                        2025
                    </div>
                    <div class="details">
                        <!-- <ul class="online">
                            <li>
                                <span class="material-symbols-outlined">
                                    person
                                </span>
                                BY ADMIN
                            </li>
                        </ul> -->
                        <!-- <div class="dates">
                            Dates: 7, 8, 14, 15 Feb 2025
                        </div> -->
                        <a routerLink="/training" routerLinkActive="active" ariaCurrentWhenActive="page">Courses for Individuals</a>
                    </div>
                </div>
            </li>
            <li class="event">
                <div class="single-event">
                    <div class="date">
                        2025
                    </div>
                    <div class="details">
                        <!-- <ul class="corporate">
                            <li>
                                <span class="material-symbols-outlined">
                                    person
                                </span>
                                BY ADMIN
                            </li>
                        </ul> -->
                        <a routerLink="/corporate-trainings" routerLinkActive="active" ariaCurrentWhenActive="page">On-site Corporate Trainings</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="event-thumbnail">
        <div class="contact-section">
            <div class="phone-icons">
                <span class="material-symbols-outlined icon">
                    call
                    </span>
            </div>
            <div class="call-content">
                <span class="contact-text">Call Us</span>
                <span class="contact-number">+91 98999 48940</span>
            </div>
        </div>
        <img src="../../assets/img/home/events-thumbnail.jpg" alt="Events">
        <div class="gradient-overlay"></div>
    </div>
</div>

<!--Corporate Trainings-->
<!-- <div class="sub-heading">Corporate Trainings</div>
<div class="trainings">
    <div class="training-card">
        <div class="training-img">
            <img src="../../assets/img/training1.jpg" alt="img1">
        </div>
        <div class="training-content">
            <div class="training-name">
                Classroom Training
            </div>
        </div>
        <div class="training-footer">
            <a (click)="toggleContact()">Know More</a>
        </div>
    </div>
    <div class="training-card">
        <div class="training-img">
            <img src="../../assets/img/training2.jpg" alt="img1">
        </div>
        <div class="training-content">
            <div class="training-name">
                Training + Certification
            </div>
        </div>
        <div class="training-footer">
            <a (click)="toggleContact()">Know More</a>
        </div>
    </div>
    <div class="training-card">
        <div class="training-img">
            <img src="../../assets/img/training3.jpg" alt="img1">
        </div>
        <div class="training-content">
            <div class="training-name">
                Virtual Training
            </div>
        </div>
        <div class="training-footer">
            <a (click)="toggleContact()">Know More</a>
        </div>
    </div>
</div>
<div *ngIf="isContactVisible" class="contact"> 
    <div class="training-form">
    <div class="individual-form">
        <div class="form-heading-bar">
            <div class="form-heading">
                Fill up the following form to apply for Individual Training
            </div>
            <button (click)="closeContact()" class="closebutton">x</button> 
        </div>
        <div class="form-items">
            <input type="text" placeholder="Full Name">
        </div>
        <div class="form-items">
            <input type="text" placeholder="Organization">
        </div>
        <div class="form-items">
            <input type="text" placeholder="Designation">
        </div>
        <div class="dropdown-container"> 
            <select id="options" name="options" class="dropdown"> 
                <option value="selectcourse">Select Course</option>
                <option value="option1">Classroom Training</option> 
                <option value="option2">Training + Certification</option> 
                <option value="option3">Virtual Training</option>
            </select> 
        </div>
        <div class="form-items">
            <input type="text" placeholder="Location">
        </div>
        <div class="form-items">
            <input type="text" placeholder="Phone Number">
        </div>
        <div class="form-items">
            <input type="text" placeholder="Email Address">
        </div>
        <div class="button-ele">
            <button type="submit">Submit Form</button>
        </div>
    </div>
    </div>
</div> -->
<!--Testimonials-->
<div class="sub-heading">Testimonials</div>

<div class="testi-section">
<div class="testimonial-container">
    <div class="testimonial">
        <div class="testi-content">
            <p class="review">"The Value Methodology Workshop by ENVAL was first-of-its kind for me. Having gained an
                in-depth understanding about this versatile and effective technique, I am now eager to apply it myself and 
                experience its benefits!"</p>
            <h5>Sourabh Sindagi</h5>
            <p class="testi-info">Engineering and R&D Expert</p>
        </div>
    </div>
    <div class="testimonial">
        <div class="testi-content">
            <p class="review">"I had prior exposure to Value Methodology, but it was only through by ENVAL that truly
                 unlocked its full potential for me. The session on Function Analysis was particularly insightful. 
                 It was an exciting learning experience!"</p>
            <h5>Rajesh Sampat</h5>
            <p class="testi-info">Chief Sales Officer</p>
            <p class="testi-info">Inspiron Engineering Pvt. Ltd.</p>
        </div>
    </div>
    <div class="testimonial">
        <div class="testi-content">
            <p class="review">"The Value Methodology Workshop by ENVAL was first-of-its kind for me. Having gained an
                in-depth understanding about this versatile and effective technique, I am now eager to apply it myself and 
                experience its benefits!"</p>
            <h5>Sourabh Sindagi</h5>
            <p class="testi-info">Engineering and R&D Expert</p>
        </div>
    </div>
    <div class="testimonial">
        <div class="testi-content">
            <p class="review">"I had prior exposure to Value Methodology, but it was only through by ENVAL that truly
                 unlocked its full potential for me. The session on Function Analysis was particularly insightful. 
                 It was an exciting learning experience!"</p>
            <h5>Rajesh Sampat</h5>
            <p class="testi-info">Chief Sales Officer</p>
            <p class="testi-info">Inspiron Engineering Pvt. Ltd.</p>
        </div>
    </div>
</div>
</div>

<!--Quote-->
<div class="contact-area">
    <div class="contact-container">
        <div class="row">
            <div class="col">
                <form class="contact-form-inner" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="section-title">
                        <h2 class="form-title">Connect with us</h2>
                        <p>We will be happy to answer your questions.</p>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="text" formControlName="name" required>
                                <label class="placeholder">Full Name<sup>*</sup></label>
                                <div *ngIf="userForm.controls['name'].invalid && (userForm.controls['name'].dirty || userForm.controls['name'].touched)" class="error-message">
                                    <div *ngIf="userForm.controls['name'].errors?.['required']">Full Name is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="text" formControlName="email" required>
                                <label class="placeholder">Email Id<sup>*</sup></label>
                                <div *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)" class="error-message">
                                    <div *ngIf="userForm.controls['email'].errors?.['required']">Email is required.</div>
                                    <div *ngIf="userForm.controls['email'].errors?.['email']">Enter a valid email.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="checkbox" formControlName="corporateTraining" id="agree" name="option1">
                                <label for="option1">Corporate Training</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="checkbox" formControlName="trainingForPractitioners" id="agree" name="option2">
                                <label for="option2">Training for Practitioners</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="checkbox" formControlName="consulting" id="agree" name="option3">
                                <label for="option3">Consulting</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="single-input-inner">
                                <input type="checkbox" formControlname="projects" id="agree" name="option4">
                                <label for="option4">Projects</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="single-input-inner">
                                <textarea name="multiline" formControlName="message" required></textarea>
                                <label class="placeholder">Message<sup>*</sup></label>
                                <div *ngIf="userForm.controls['message'].invalid && (userForm.controls['message'].dirty || userForm.controls['message'].touched)" class="error-message">
                                    <div *ngIf="userForm.controls['message'].errors?.['required']">Message is required.</div>
                                </div>
                            </div>
                        </div>

                        <re-captcha (resolved)="resolved($event)" siteKey="6LfeP5cqAAAAAPBDawg7onXwpN2AqW2GjPwvZBc0"></re-captcha>
                        <div class="col-3">
                            <div class="message">
                            <div class="single-input-inner">
                                <input type="checkbox" formControlName="subscribe"> Also subscribe us
                            </div>
                            <div *ngIf="messageSent" class="info">
                                <i class="fa-solid fa-check sent-icon"></i>
                                <div class="sent-message">Message Sent!</div>
                            </div>
                            </div>
                            <button type="submit" class="btn">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col1">
                <div class="mt-5">
                    <ul class="single-list-wrap">
                        <li class="single-list-inner">
                            <div class="media">
                                <div class="media-left">
                                    <img src="../../assets/img/home/16.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h5>Our Address</h5>
                                    <p>Silver Sands Apt., Piramal Nagar, S.V. Road</p>
                                    <p>Goregaon (w), Mumbai - 400064TESti</p>
                                </div>
                            </div>
                        </li>
                        <li class="single-list-inner">
                            <div class="media">
                                <div class="media-left">
                                    <img src="../../assets/img/home/17.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h5>Our Phone</h5>
                                    <p>+91 98999 48940</p>
                                </div>
                            </div>
                        </li>
                        <li class="single-list-inner">
                            <div class="media">
                                <div class="media-left">
                                    <img src="../../assets/img/home/18.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h5>Our Email</h5>
                                    <p>connect&#64;enval.in</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<app-scroll-button></app-scroll-button>