<app-navbar></app-navbar>
<div class="contact-bg">
    <h1>Login</h1>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" 
                class="read-more-btn">Home</a>
            </li>
            <li>Login</li>
        </ul>
</div>
<div class="password-reset" *ngIf="showresetform">
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
    <div class="forget-text">Please enter new password.</div>
    <div class="single-input-inner">
      <input id="newPassword" formControlName="newPassword" type="{{passwordFieldType}}" class="input" required />
      <label class="placeholder">New Password<sup>*</sup></label>
      <i class="fas" 
        [class.fa-eye]="passwordFieldType === 'password'" 
        [class.fa-eye-slash]="passwordFieldType === 'text'" 
        (click)="togglePasswordVisibility()">
      </i>
      <div *ngIf="passwordResetForm.controls['newPassword'].invalid && (passwordResetForm.controls['newPassword'].dirty || passwordResetForm.controls['newPassword'].touched)" class="error-message">
        <div *ngIf="passwordResetForm.controls['newPassword'].errors?.['required']">Password is required.</div>
        <div *ngIf="passwordResetForm.controls['newPassword'].errors?.['minlength']">Password must be at least 10 characters long.</div>
        <div *ngIf="passwordResetForm.controls['newPassword'].errors?.['pattern']">
          Password must include uppercase, lowercase, a number, and a special character.
        </div>
      </div>
    </div>
      <button class="submit-btn">Reset Password</button>
    </form>
</div>

<div class="reset-password-message" *ngIf="showmessage">
  <div class="container">
    <i class="fa-solid fa-circle-check font-icon"></i>
    <div class="right">
      <h4>{{verificationStatus}}</h4>
    </div>
  </div>
</div>

<app-footer></app-footer>
  