<app-navbar></app-navbar> 
<div class="contact-bg">
    <p>Privacy Policy for</p>
    <p style="color: #f0b429;">Enval Consultants</p>
</div>
<div class="privacy-policy">
    <h3>Privacy Policy for <span style="color: #f0b429;">Enval Consultants</span></h3>
    <div class="container">
        <h4>Introduction</h4>
        <p>Welcome to Enval Consultants. This Privacy Policy explains how we collect, use, disclose, and 
            safeguard your information when you visit our website [www.enval.in] (the "Website"). Please read this 
            policy carefully. If you do not agree with the terms of this privacy policy, please do not access the 
            Website.
        </p>
        <h4>Information We Collect</h4>
        <p>
            <b style="color: #002147;">Personal Information:</b> 
            We may collect personal information that you voluntarily provide to us, such as your name, 
            email address, phone number, etc., when you interact with the Website (e.g., through contact forms, 
            registration forms, or when subscribing to our newsletter).
            <br>
            <b style="color: #002147;">Non-Personal Information:</b>
        </p>
        <h4>Use of Information</h4>
        <p>We may use the information we collect:</p>
        <p></p>
        <li>To provide and maintain our Website;</li>
        <li>To improve, personalize, and enhance your experience;</li>
        <li>To communicate with you, including responding to your inquiries, emails, and requests;</li>
        <li>To send you newsletters, marketing communications, and other information relating to our services 
            (you may opt out of receiving any, or all, of these communications from us by following the unsubscribe
            link or instructions provided in any email we send)
        </li>
        <p></p>
        <h4>Disclosure of Information</h4>
        <p>Our trusted third-party service</p>
        <h4>Contact:</h4>   
        <p>You can contact Enval Consultants at any time to request more information about the way we process 
            personal data by sending an email to connect&#64;enval.in. We will respond to your request in the 
            timescales prescribed by applicable laws.
            <br>
            You should read this Privacy Notice in conjunction with the terms and Conditionss of the Website, 
            or in conjunction with the Terms and Conditions applicable to you in the specific context.
        </p>  
            
    </div>
</div>
<app-footer></app-footer>
<app-scroll-button></app-scroll-button>